.logo {
  width: max-content;
  position: relative;
}

.logo-img {
  width: 160px;
  height: 160px;
  position: relative;
}

.logo-name {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: -10px;
}
