.merge {
  position: relative;
  top: 0px;
  width: 70%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: brown; */
}

.button-state {
  position: relative;
  top: -20px;
  width: 80%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: yellowgreen; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}
