.both-btn {
  background-color: #00a8ff;
  border: none;
  color: #e4e5e6;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: 400;
  opacity: 60%;
}

.only-nextbtn {
  position: relative;
  left: 580%;
  background-color: #00a8ff;
  border: none;
  color: #e4e5e6;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-family: "Open Sans";
  font-weight: 400;
  opacity: 60%;
}

.both-btn:hover {
  color: #ffffff;
  opacity: 85%;
}

.only-nextbtn:hover {
  color: #ffffff;
  opacity: 85%;
}
